{
    "useTabs": true,
    "tabWidth": 4,
    "semi": false,
    "trailingComma": "all",
    "singleQuote": true,

	"svelteSortOrder" : "scripts-markup-styles",
	"svelteStrictMode": true,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true
}
